body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  letter-spacing: 2px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: #080f58;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.541);
}

.menu {
  display: flex;
}

.menu li a {
  padding: 10px 15px;
  color: #ffffff;
  font-size: 12px;
}

.logo {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

.contact {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}

.contact:hover {
  color: #ec336b;
}

.menu a:hover {
  background-color: #ec336b;
  color: black;
}

.logo:hover {
  color: #ec336b;
}

.title-box {
  background-color: #7d67ec;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  font-size: 1em;
  margin-top: 70px;
}

.about-main {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.about-img {
  display: flex;
}

.about-main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 2px;
  width: 90vw;
  border: solid;
  border-color: #ec336b;
  border-width: 2px;
  border-radius: 20px;
  margin: 20px 40px 10px 0px;
  padding: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.541);
  background-color: #d1cbee;
  line-height: 1.6;
}

.about-main-content a {
  color: black;
}

.about-main-content a:hover {
  color: #ec336b;
}

ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.about-section {
  width: 100vw;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.541);
}

.fun-facts {
  height: 35vh;
  border: solid;
  border-width: 1.5px;
  border-color: #ec336b;
  border-radius: 20px;
  margin-left: 20px;
  line-height: 2em;
  margin-top: 10px;
  background-color: #e8e7f1;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.541);
}

.fun-facts h3 {
  padding: 15px;
}

.fun-fact-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 25px;
}

.fun-fact-div img {
  width: 300px;
}

.amber-facts {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
  width: 100vw;
  height: 300px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}

footer {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  letter-spacing: 2px;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  background-color: #080f58;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}

footer h4 {
  color: #ffffff;
}

img {
  height: 25vh;
  margin: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.685),
    0px 10px 20px rgba(0, 0, 0, 0.541);
}

.article-right {
  width: 40vw;
}

.article-left {
  width: 20vw;
}

.adjectives-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 8px;
  font-weight: bolder;
}

summary {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70vh;
}

summary a {
  text-decoration: underline;
  font-weight: bolder;
  color: black;
}
summary a:hover {
  color: #ec336b;
}

summary section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55vw;
  line-height: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #e8e7f1;
  margin-top: 15px;
  height: 55vh;
}
summary section p,
h3 {
  padding: 20px;
}
