body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/*  nav-bar list */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* nav-bar fixed and use of flex-box */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  letter-spacing: 2px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: #080f58;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.541);
  z-index: 100;
}

.menu {
  display: flex;
}

.menu li a {
  padding: 10px 15px;
  color: #ffffff;
  font-size: 12px;
}
/* this is where a potential logo would go */
.logo {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

.contact {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}

.contact:hover {
  color: #ec336b;
  transition: 1s;
}

.menu a:hover {
  background-color: #ec336b;
  color: black;
  transition: 1s;
}

.logo:hover {
  color: #ec336b;
  transition: 1s;
}

header {
  position: relative;
  height: 180px;
  background-image: linear-gradient(#7d67ec, #6452be);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  font-size: 1.1em;
  margin-top: 70px;
  font-family: "Poppins", sans-serif;
}

header h1 {
  color: white;
  margin-left: -170px;
}
svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6vh;
}
header div {
  display: flex;
  flex-direction: row;
}
.title-talents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px;
}
.title-talents {
  margin: 0px 10px 10px 50px;
}

.about-main {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 20px;
}

.about-img {
  display: flex;
}

.about-main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 2px;
  width: 90vw;
  border: solid;
  border-color: #ec336b;
  border-width: 1px;
  border-radius: 15px;
  margin: 20px 40px 10px 0px;
  padding: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.541);
  background-color: #d1cbee;
  line-height: 1.6;
}

.about-main-content a {
  color: black;
}

.about-main-content a:hover {
  color: #ec336b;
}
.amber-facts {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
  width: 100vw;
  height: 300px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}

ol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.fun-facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55vw;
  height: 35vh;
  border: solid;
  border-width: 1.5px;
  border-color: #bbbbbb;
  margin: 10px 0px 0px 20px;
  line-height: 2em;
  background-color: #e8e7f1;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.541);
}

.fun-facts h3 {
  padding: 15px;
}

.fun-fact-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 25px;
}

.fun-fact-div img {
  width: 300px;
}

footer {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  letter-spacing: 2px;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  background-color: #080f58;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}

footer h4 {
  color: #ffffff;
}

img {
  height: 25vh;
  margin: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.685),
    0px 10px 20px rgba(0, 0, 0, 0.541);
}

.article-right {
  width: 40vw;
}

.article-left {
  width: 20vw;
}

.adjectives-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 8px;
  font-weight: bolder;
  margin-right: 15px;
}

/*  Summary section at bottom of page */

summary {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70vh;
}

summary a {
  text-decoration: underline;
  font-weight: bolder;
  color: black;
}
summary a:hover {
  color: #ec336b;
}

summary section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55vw;
  line-height: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #e8e7f1;
  height: 55vh;
  border-radius: 6px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  margin: 30px 0px 15px 0px;
}

/* minor margin and spacing for summary section*/

summary section p,
h3 {
  margin: 0px 20px 0px 20px;
}

/* bottom sections line for visual appeal to break up paragraph using a hr tag */

section hr {
  width: 80%;
  border: solid;
  border-width: 1px;
  border-image: linear-gradient(
      to left,
      rgb(161, 161, 161) 1%,
      grey 20%,
      rgb(63, 63, 63) 50%,
      grey 80%,
      rgb(156, 156, 156) 100%
    )
    0 0 100% 0/0 0 5px 0 stretch;
}
